body {
    font-family: Arial;
    background-image: url(https://i.redd.it/fbat1tagm3571.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(234, 159, 251);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgb(221, 22, 22);
}

button {
    padding: 10px;
    margin-top: 10px;
    
}

h2 {
    margin-top: 20px;
}
